.conversionChecks { // Check to see if the conversions are made correctly.
  .attributes {
    .x { // all set to 406px for simplicities sake.
      height: 50vh; /* NOLS Converted from: 406px; */
      min-height: 50vh; /* NOLS Converted from: 406px; */
      max-height: 50vh; /* NOLS Converted from: 406px; */
      top: 50vh; /* NOLS Converted from: 406px; */
      bottom: 50vh; /* NOLS Converted from: 406px; */
      margin-top: 50vh; /* NOLS Converted from: 406px; */
      margin-bottom: 50vh; /* NOLS Converted from: 406px; */
      padding-top: 50vh; /* NOLS Converted from: 406px; */
      padding-bottom: 50vh; /* NOLS Converted from: 406px; */
      transform: translateY(50vh); /* NOLS Converted from: translateY(406px); */
      line-height: 50vh; /* NOLS Converted from: 406px; */
    }
    .y {
      width: 50vw; /* NOLS Converted from: 187.5px; */
      min-width: 50vw; /* NOLS Converted from: 187.5px; */
      max-width: 50vw; /* NOLS Converted from: 187.5px; */
      left: 50vw; /* NOLS Converted from: 187.5px; */
      right: 50vw; /* NOLS Converted from: 187.5px; */
      margin-right: 50vw; /* NOLS Converted from: 187.5px; */
      margin-left: 50vw; /* NOLS Converted from: 187.5px; */
      padding-left: 50vw; /* NOLS Converted from: 187.5px; */
      padding-right: 50vw; /* NOLS Converted from: 187.5px; */
      transform: translateX(50vw); /* NOLS Converted from: translateX(187.5px); */
      word-spacing: 50vw; /* NOLS Converted from: 187.5px; */
      letter-spacing: 50vw; /* NOLS Converted from: 187.5px; */
      outline-width: 50vw; /* NOLS Converted from: 187.5px; */
      column-width: 50vw; /* NOLS Converted from: 187.5px; */
    }
    .xy {
      margin: 50vh; /* NOLS Converted from: 406px; */
      padding: 50vh; /* NOLS Converted from: 406px; */
      transform: translate(50vw, 50vh); /* NOLS Converted from: translate(187.5px, 406px); */
    }
  }
  .styles {
    .hasInline {
      width: 50vw; // Keep /* NOLS Converted from: 187.5px; // Keep */
      transform: translateY(50vh); // Keep /* NOLS Converted from: translateY(406px); // Keep */
      // Keep
    }
    .varyingLength {
      .one {
        margin: 50vh; /* NOLS Converted from: 406px; */
        padding: 50vh; /* NOLS Converted from: 406px; */
        transform: translate(50vw); /* NOLS Converted from: translate(187.5px); */
      }
      .two {
        margin: 50vh 50vw; /* NOLS Converted from: 406px 187.5px; */
        padding: 50vh 50vw; /* NOLS Converted from: 406px 187.5px; */
        transform: translate(50vw, 50vh); /* NOLS Converted from: translate(187.5px, 406px); */
      }
      .three {
        margin: 50vh 50vw 50vh; /* NOLS Converted from: 406px 187.5px 406px; */
        padding: 50vh 50vw 50vh; /* NOLS Converted from: 406px 187.5px 406px; */
      }
      .four {
        margin: 50vh 50vw 50vh 50vw; /* NOLS Converted from: 406px 187.5px 406px 187.5px; */
        padding: 50vh 50vw 50vh 50vw; /* NOLS Converted from: 406px 187.5px 406px 187.5px; */
      }
    }
    .blockComment {
      /*
       * THIS IS A BLOCK COMMENT.
       */
    }
    .brackets {
      .weirdBrackets { height: 50vh; } /* NOLS Converted from: 406px; } */
      .weirdBracketsCrushed {height: 50vh;} /* NOLS Converted from: 406px;} */
      .weirdBracketsCrushed2 {height:50vh;} /* NOLS Converted from:406px;} */
    }
  }
}
