.first-class {
  height: 50vh; // NOLS Converted from: 406px;
  width: 26.666666666666668vw; // NOLS Converted from: 100px;
  padding-left: 5.333333333333333vw; // NOLS Converted from: 20px;
  padding-right: 5.333333333333333vw; // NOLS Converted from: 20px;
  margin-bottom: 6.157635467980295vh; // NOLS Converted from: 50px;
}

.second {
  height: 12.31527093596059vh; // NOLS Converted from: 100px;
  width: 8vw; // NOLS Converted from: 30px;
}
